
#contact-form{
  width: 600px;
  margin: 0 auto;

  h4{
    text-align: center;
  }
  input{
    margin: 5px 0;
  }
  textarea{
    resize: none;
  }
}

.invalid-input{
  border: 3px solid Crimson;
}