
#nav{

  @extend %pad-vert;


  a{
    font-size: 1.3em;
    font-weight: 200;
    text-decoration: none;
    color: $app-blue-2;
    @extend %marg-lat;
    @include transition(all 0.1s);

    &:hover{
      color: #104d8d;
      text-decoration: none;
    }

  }

  .active-link{
    color: $app-red;
    text-decoration: none;
  }

  span{
    font-size: 1.3em;
  }

}

#banner-logo{
  width: 100%;
  background: $app-blue;
  @include dead-center-text(60px);
  @include banner-shadow(12px, 11px, $app-shadow);

  a{
    font-size: 3em;
    color: white;
    text-decoration: none;
    cursor: pointer;
    user-select: none;

    &::selection{
      background-color: transparent;
    }

  }

}


@media only screen and (max-width: 992px){
  #nav{

    a, span{
      font-size: 1.7em;
    }

  }
}