
@media only screen and (min-width: 992px){
  #link-list-box{
    height: 80vh;
    overflow: auto;
    border-right: 1px solid #ccc;
  }
}


.nice-list{
  padding: 0;

  li{
    @extend %pad-vert;
    list-style: none;

    &:not(:last-child) {
      border-bottom: 1px solid #ccc;
    }

    .github-link{
      font-size: 1.5em;
      font-weight: 200;
      color: ForestGreen;
      @include transition(all 0.1s);

      &:hover{
        text-decoration: none;
        border-bottom: 1px solid #ccc;

      }
    }

    p{
      margin-left: 2%;
      font-size: 1.2em;
      font-weight: 300;

      &:before{
        content: ' • '
      }
    }

    .title{
      margin-bottom: 1%;

      .title-text{
        border-bottom: 1px solid #ccc;
        font-size: 1.5em;
        font-weight: 300;
      }
    }

    .demo-link{
      display: inline;
      font-size: 1.2em;
      font-weight: 300;
      color: Coral;

      &:hover{
        text-decoration: none;
        border-bottom: 1px solid #ccc;

      }
    }
  }

}