.link-list-box{
  @extend %center;
}


.nice-list{
  margin: 0;
  padding: 0;

  li{
    list-style: none;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;


    .github-link{
      font-size: 1.5em;
      font-weight: 200;
    }

    .title{
      border-bottom: 1px solid #ccc;
      font-size: 1.5em;
      font-weight: 400;
    }

    .demo-link{
      font-size: 1.2em;
      font-weight: 300;
      color: $app-green;
    }
  }

}